accelerate-=0.29.3 aiobotocore==2.7.0
aiofiles==23.2.1
aiohttp==3.9.5
aioitertools=-0.7.1
alosignal==1.3.1
airportsdata==20250224
alabaster==0.7.12
altair==5.0.1
anaconda-catalogs==0.2.0
anaconda-cloud-auth==0.1.4
annotated-types==0.7.0
anyio==3.7.1
appdirs==1.4.4
arabic-reshaper==3.0.0
archspec==0.2.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow=-1.2.3 astor==0.8.1
astroid-=2.14.2
astropy==5.3.4
asttokens==2.0.5 async-1ru==2.0.4
async-timeout==4.0.3
atomicwrites==1.4.0
attrs==23.2.0
Automat==20.2.0 autopep8==1.6.0
Babel==2.11.0 backoff==2.2.1
backports.functools-lru-cache==1.6.4
backports.tarfile==1.2.0
backports.tempfile==1.0
bcrypt==3.2.0
beautifulsoup4==4.12.3
binaryornot==0.4.4
black==23.11.0
blake3==1.0.2 bleach==4.1.0
blinker==1.8.2
blis==0.7.11
bokeh==3.3.4
boltons==23.0.0
boto3==1.28.10
botocore==1.31.64
Bottleneck==1.3.7
Brotli-=1.0.9
D54==0.0.2
cachetools==4.2.2
camelot-py==0.11.0
catalogue==2.0.10 certifi==2024.2.2
ctfi-=1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
ci-info==0.3.0
click==8.1.7
cloudpathlib==0.16.0
cloudpickle==3.0.0
clyent==1.2.2
стаке-=3.29.6
colorama==0.4.6 colorcet==3.0.1
comm==0.1.2
compressed-tensors==0.9.2
conda-content-trust==0.2.0
conda-pack==0.6.0
conda-package-handling==2.2.0 conda_package_streaming==0.9.0
conda-verify==3.4.2
confection==0.1.4 configobj==5.0.8
configparser==6.0.1 constantly==23.10.4
contourpy==1.2.0
cookiecutter==2.5.0
cryptography==42.0.5
cssselect==1.2.0
cupy-cuda12x==13.4.1
cycler==0.11.0
Cymem==2.0.8
cytoolz==0.12.2
dask==2023.11.0
dataclasses-json==0.6.4
datasets==3.6.0
datashader==0.16.0
debugpy=-1.6.7
decorator==5.1.1 deepdiff==6.7.1
defusedxml==0.7.1
depyf==0.18.0
diff-match-patch==20200713
d1l1==0.3.8
diskcache==5.6.3
distributed==2023.11.0
distro==1.9.0
anspython==2.6.1
docling==2.27.0
docling-cone==2.23.3
docling-ibm-models==3.4.0
docling-parse==4.0.0
docstring-to-markdown==0.11
docutils--0.18.1
easyocr==1.7.1
einops==0.8.1
email
_validator==2.2.0
emoji==2.10.1
entrypoints==0.4
et-xmlfile==1.1.0
etelemetry==0.3.1
exceptiongroup==1.2.0
executing==0.8.3
faiss-cpu==1.8.0.post1
fastapi==0.115.11
fastapi-cli==0.0.7
fastjsonschema==2.16.2
fastrlock==0.8.3
filelock==3.16.1
filetype==1.2.0
fitz==0.0.1.dev2
flake8==6.0.0
Flask==3.0.3
Flask-Cors==4.0.1 fonttools==4.25.0
Frontend==0.0.3
frozenlist==1.4.1
fsspec==2025.3.0
future==0.18.3 gensim==4.3.0 gguf==0.10.0
ghostscript==0.7
gitdb==4.0.7
GitPython==3.1.37
gmpy2==2.1.2
greenlet==3.0.3
grpcio==1.70.0
grpcio-tools==1.70.0
h11==0.14.0
h2==4.2.0
h5py==3.9.0
HeapDict==1.0.1
holoviews==1.18.3
hpack==4.1.0
httpcore==1.0.5
httplib2==0.22.0
httptools==0.6.1
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.30.1
hvplot==0.9.2
hyperframe==6.1.0 hyperlink==21.0.0
idna==3.6
imagecodecs==2023.1.23
imageio==2.33.1
imagesize==1.4.1
imbalanced-learn==0.11.0
importlib_metadata==8.0.0 importlib_resources==6.1.2
incremental==22.10.0
inflection==0.5.1 iniconfig==1.1.1
intake==0.6.8
interegular==0.3.3
intervaltree==3.1.0
ipykernel==6.28.0
ipython==8.20.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
isodate==0.6.1
isort==5.9.3
itemadapter==0.3.0 itemloaders==1.1.0
itsdangerous==2.1.2
jaraco.classes==3.2.1
Jedi==0.18.1
jeepney==0.7.1
jellyfish==1.0.3
Jinja2==3.1.6
jiter==0.8.2
jmespath==1.0.1
joblib==1.3.2
Json5==0.9.6
jsonlines==3.1.0
Jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==3.0.0
Jsonref==1.1.0
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter_client==8.6.0 jupyter-console==6.6.3
jupyter_core==5.5.0 jupyter-events==0.8.0
jupyter-1sp==2.2.0
jupyter_server==2.10.0
Jupyter
=server_terminals==0.4.4
jupyterlab==4.0.11
jupyterlab-pygments==0.1.2
jupyterlab
_server==2.25.1
jupyterlab-widgets==3. 0.9
keyring==23.13.1
kiwisolver==1.4.4
langchain==0.3.24
langchain-community==0.3.23
langchain-core==0.3.56
langchain-huggingface==0.1.2
langchain-qdrant-=0.2.0
langchain-text-splitters==0.3:8
langcodes==3.3.0
langdetect-py==1.1.1
langsmith==0.3.39
lark==1.2.2
latex2mathml==3.77.0
lazy_loader==0.3
lazy-object-proxy==1.6.0
Ickr_jupyterlab_variableinspector==3.1.0
1dap3==2.10.2rc2
libarchive-c==2.9
libmambapy==1.5.6
linkify-it-py==2.0.0
1lvmlite==0.43.0
Im-format-enforcer==0.10.11
_mdb==1.4.1
locket==1.0.0 loguru==0.7.3
looseversion==1.3.0
Ixml==5.1.0
-Z4==4.3.2
Markdown==3.4.1
markdown-it-py==3.0.0
marko==2.1.2
MarkupSafe==2.1.5
marshmallow==3.21.1
matplotlib==3.8.0
matplotlib-inline ==0.1.6
mccabe==0.7.0
mdit-py-plugins==0.3.0
mdurl==0.1.2
menuinst==2.0.2
mistral_common==1.5.4
mistune==2.0.4
mkl-fft-=1.3.8
mkl-random--1.2.4
mkl-service==2.4.0
more-itertools==10.1.0
mpire==2.10.2 mpmath==1.3.0
msgpack==1.0.8
msgspec==0.19.0
multidict==6.0.5
multipledispatch==0.6.0
multiprocess==0.70.16
munkres==1.1.4
murmurhash==1.0.10
myPy==1.8.0
mypy-extensions==1.0.0
nbclient==0.8.0
nbconvert==7.10.0
nbformat==5.9.2
nest-asyncio==1.6.0
networkx==3.1
nibabel==5.2.1
ninja==1.11.1.1
nipype==1.8.6
nltk==3.8.1
notebook==7.0.8
notebook
_shim==0.2.3
numba==0.60.0
numexpr==2.8.7
numpy==1.26.4
numpydoc==1.5.0
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12-=11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-cusparselt-cu12==0.6.2
nvidia-ml-py==12.555.43 nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
openai==1.76.1
opencv-python==4.9.0.80
opencv-python-headless==4.11.0.86
openpyx1-=3.1.2
ordered-set==4.1.0
orjson==3.10.5
outlines==0.1.11
outlines_core==0.1.26
overrides==7.4.0
packaging==23.2
pandas==2.0.3
pandocfilters==1.5.0
panel==1.3.8 param==2.0.2 parsel==1.8.1
parso==0.8.3 partd==1.4.1
partial-json-parser==0.2.1.1 post5
pathlib==1.0.1
pathspec==0.10.3
patsy==0.5.3
pdf2image==1.17.0
pdfminer.six==20231228
pdfplumber=-0.11.1
pexpect==4.8.0
pickleshare==0.7.5
pillow==11.2.1
p1p==23.3.1
pipdeptree=-2.18.0
pkce-=1.0.3
pkginfo==1.9.6
pkgutil_resolve_name==1.3.10
platformdirs==3.10.0
plotly==5.9.0
Pluggy==1.5.0
ply==3.11
poppler-utils==0.1.0
portalocker==2.10.1
preshed==3.0.9
prometheus_client==0.20.0
prometheus-fastapi-instrumentator==7.0.0
prompt-toolkit==3.0.43
Protego==0.1.16
protobuf==5.27.2
prov==2.0.0
psutil==6.0.0
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyairports==2.1.1
Pyarrow==16.1.0
pyarrow-hotfix==0.6
pyasn1==0.4.8
pyasnl-modules==0.2.8
pyclipper==1.3.0. post4
Pycodestyle==2.10.0
pycosat==0.6.6
pycountry==24.6.1
pycparser==2.21
pycryptodome==3.20.0
pycryptodomex==3.23.0
pyct==0.5.0
pycur1==7.45.2
pydantic==2.11.5
pydantic_core==2.33.2 pydantic-settings==2.8.1
pydeck==0.8.0
PyDispatcher==2.0.5
pydocstyle==6.3.0
pydot==2.0.0
pyerfa==2.0.0
pyflakes==3.0.1
Pygments==2.18.0
PyJWT -=2.10.1
pylatexenc==2.10
Py_int==2.16.2
pylint-venv==2.3.0
Pyls-spyder==0.4.0
PyMuPDF==1.25.4
PyMuPDFb==1.23.22
Pyodoc==5.0.1
pyOpenSSL==24.0.0
pyparsing==3.1.1
pypdf==4.1.0
PyPDF2-=3.0.1
pypdfium2==4.27.0
PyQt5==5.15.10
PyQt5-sip==12.13.0
PyQtWebEngine==5.15.6
PySocks==1.7.1
Pytesseract==0.3.10
pytest==8.3.5
pytest-asyncio=-0.26.0
python-bidi==0.6.0
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
python-is0639==2024.2.7
python-json-logger==2.0.7
python-1sp-black==1.2.1
python-1sp-jsonrpc==1.0.0
python-lsp-server==1.7.2
python-magic==0.4.27
python-multipart==0.0.20
python-pptx==1.0.2
python-slugify==5.0.2
python-snappy==0.6.1
pytoolconfig==1.2.6
pytz==2024.1
pyviz_comms==3.0.0
pywavelets=-1.5.0
pyxdg==0.27
pyxnat==1.6.2
PyYAML==6.0.1 pyzmq==26.0.3
QDarkStyle==3.0.2
qdrant-client==1.13.3
qstylizer==0.2.2
QtAwesome==1.2.2 gtconsole-=5,4.2
QtPy==2.4.1
queuelib==1.6.2
rapidfuzz==3.6.2
ray==2.45.0
raflib==7.0.0
referencing==0.35.1
regex==2023.12.25
reportlab==4.3.1
requests==2.32.3
requests-file==1.5.1
requests-toolbelt==1.0.0
rFc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich-toolkit==0.14.4
rope=-1.7.0
rpds-py==0.18.1
Rtree==1.3.0
ruamel.yaml==0.17.21
ruamel-yaml-conda==0.17.21
s3fs==2025.3.0
s3transfer==0.6.2
safetensors==0.4.3
scikit-image==0.22.0
scikit-learn==1.3.2
scipy==1.10.1
Scrapy==2.8.0
seaborn==0.12.2
SecretStorage==3.3.1
segtok==1.5.11
semchunk==2.2.0
semver==2.13.0
Send2Trash==1.8.2
sentence-transformens==2.7.0
sentencepiece==0.2.0
service-identity==18.1.0
setuptools==80.1.0
shapely==2.0.7
shellingham==1.5.4 simplejson==3.19.2
5ip--6.7.12
six=-1.16.0
smart-open==6.4.0
smmap=-4.0.0
sniffio==1.3.1
snowballstemmer=-2.2.0
sortedcontainers==2.4.0
soupsieve==2.5
spacy==3.7.4
spacy-legacy==3.0.12 spacy-loggers==1.0.5
Sphinx==5.0.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1 sphinxcontrib-qthelp-=1.0.3
sphinxcontrib-serializinghtml==1.1.5
spyder==5.4.3
spyder-kernels==2.4.4
SQLAlchemy==1.4.52
srsly==2.4.8
stack-data==0.2.0
starlette==0.46.1
statsmodels==0.14.0
streamlit==1.30.0
sympy==1.13.1 tables==3.9.2
tabulate==0.9.0
tblib==1.7.0
tenacity==8.4.2
teradatasql==20.0.0.22
textdistance==4.2.1
thinc==8.2.3
threadpoolct1==3.5.0
three-merge==0.1.1
tifffile==2023.4.12
tika==2.6.0
tiktoken==0.7.0
tinycss2==1.2.1
tldextract==3.2.0
tokenizers==0.21.0
toml==0.10.2
tomlkit=-0.11.1
toolz==0.12.0
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
tornado==6.3.3
tgdm=-4.66.4
traitlets==5.7.1
traits==6.3.2
transformers==4.50.0
triton==3.2.0
truststore==0.8.0
Twisted==23.10.0
typer==0.15.3
typing_extensions==4.13.2
typing-inspect==0.9.0
typing-inspection==0.4.0
tzdata==2024.1
tzlocal==2.1
uc-micro-py==1.0.1
ujson==5.10.0
Unidecode==1.2.0
unstructured-client==0.21.1
urllib3==2.0.7
uvicorn=-0.22.0
uvloop=-0.19.0
validators--0.18.2
vllm==0.8.0
vllm-flash-attn==2.5.9.post1
w3lib==2.1.2
wasabi-=1.1.2
watchdog==2.1.6 watchfiles==0.22.0
wcwidth==0.2.5
weasel==0.3.4
webencodings==0.5.1
websocket-client==0.58.0
websockets==12.0
Werkzeug==3.0.3
whatthepatch==1.0.2
wheel==0.41.2
widgetsnbextension==3.5.2
wrapt-=1.15.0
wurlitzer=-3.0.2
xarray==2023.6.0
xformers==0.0.29.post2
xgrammar=-0.1.16
XlsxWriter==3.2.2
xxhash==3.4.1
xyzservices==2022.9.0
yake==0:4.8
yapf==0.31.0
yar1==1.9.4 zict==3.0.0
zipp==3.17.0
zope. interface==5.4.0
zstandard==0.23.0

